@font-face {
    font-family: "SegoeUIRegular";
    src: url("./SegoeUIRegular.eot");
    src: url("./SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("./SegoeUIRegular.woff") format("woff"),
    url("./SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}