* {
  box-sizing: border-box;
}
body {
  background: #ECF0F3;
  color: #000000;
  font-family: "Segoe UI";
}
#root {
  display:flex;
  flex-direction:row;
}
.app {
  display:flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
.b-content {
  background: #fff;
  width: 640px;
  height: 732px;
  margin: auto;
  position: relative;
  border-radius: 3px;

  &__title {
    margin-left: 24px;
    margin-top: 17px;
    margin-bottom: 14px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
  }

  &__reset {
    position: absolute;
    right: 16px;
    top: 22px;
    background: none;
    border: 0;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #0075FF;
    outline: none;

    &:hover {
      text-decoration: underline;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: -18px;
      top: 2px;
      width: 18px;
      height: 18px;
      mask-image: url("./images/refresh.svg");
      background: #0075FF;
    }

    &:disabled {
      color: #888;
      &:before {
        background: #888;
      }
    }

    &:disabled:hover {
      text-decoration: none;
    }
  }
}
.b-table {
  box-sizing: border-box;
  display: table;
  width: 100%;
  border-collapse: collapse;

  &__tr {
    display: table-row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);

    &_last {
      border-bottom: 0;
    }
  }

  &__td,
  &__th {
    display: table-cell;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 0;
    vertical-align: middle;
    padding: 0 16px 0 8px;
    font-size: 16px;
    line-height: 21px;

    &:first-child {
      border-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  &__th {
    height: 32px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: left;
  }

  &__td {
    border-left: 0;
    border-right: 0;
    height: 53px;
    text-align: left;

    &_capitalize {
      text-transform: capitalize;
    }

    &_invisible {
      display: none;
    }

    &_right {
      text-align: right;
    }
  }

  &__color-preview {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    float: left;
    margin-top: 2px;
    margin-right: 3px;
  }
}